/* .todo-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  flex: 0.8;
}

span {
  text-decoration: none;
  color: black;
  font-size: 21px;
}

.header {
  flex: 0.4;
  border-bottom: 0.5px solid lightgray;
  margin: 8px;
  font-size: 21px;
}

.list {
  flex: 8;
  margin: 8px;
  font-size: 20px;
  overflow: auto;
}

.plus-input {
  border-radius: 5px;
  flex: 0.4;
  margin: 8px;
  font-size: 18px;
} */